.home {
  display: flex;
  height: 100vh;
  /* background-color: black; */
  background-image: url('./tiaro-cover.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.content h3 {
  font-size: 56px;
  font-weight: bolder;
}
.content p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 22px;
  margin: 15px 0;
  max-width: 550px;
  letter-spacing: 2px;
}
.content a {
  text-decoration: none;
  padding: 12px 24px;
  font-size: 22px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #16b194;
  color: #fff;
}
.content a:hover {
  color: #16b194;
  background-color: #fff;
  border: 3px #16b194 solid;
}
