.App {
  width: auto;
  text-align: center;
}

.logo {
  cursor: pointer;
}

/* .navbar{  
  height: 40px;
  width: 100vw;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #000000;
  color: #fff;
} */

section {
  width: 100vw;
  height: 100vh;
}

section h3 {
  margin: 0;
  padding: 20px;
}

.home {
  background-color: azure;
}
.about {
  background-color: burlywood;
}
.activity {
  background-color: teal;
}
.contact {
  background-color: darkgrey;
}

/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 20%;
  border: 2px solid #16b194;
  background-color: #fff;
  color: #16b194;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #16b194;
  color: #fff;
  border: 2px solid #fff;
}
